* {
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

h1 {
    margin-bottom: 1em;
}

.card {
    text-align: center;
}

.card-image,
.card-content {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    box-sizing: border-box;
}

img {
    max-height: 600px;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.card-image img {
    margin-bottom: 4%;
}

.card-content {
    display: inline-block;
    text-align: center;

    width: 100%;
}

.low-banner {
    display: flex;
    background-color: black;
    color: white;
    font-size: 180%;
    text-align: center;
    width: 90%;
    max-width: 600px;
    min-width: 200px;
    margin: 2% auto;
}

.low-banner div {
    display: flex;
    background-color: black;
    border-color: white;
    min-width: 80px;
    border: 1px solid;
    flex:1;
}

.low-banner a {
    display: inline-block;
    color: white;
    font-size: medium;
    text-decoration: none;
    vertical-align:middle;
    padding: 5% 15%;
    flex: 1;
}