h1 {
    margin-bottom: 1em;
}
.card {
    text-align: center;
}

.card-image,
.card-content {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    box-sizing: border-box;
}

img {
    max-height: 600px;
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.card-content {
    display: inline-block;
    text-align: left;
    padding-left: 2%;
}